<li class="list-group-item" id="book-<%= book.api_id %>">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag book.image_link, class: "img-responsive thumbnail"%>
    </div>
    <div class="col-md-8">
      <h2><%= book.title %></h2>
      <h4><%= book.title %></h4>

      <%= button_to "Remove2", books_path, method: :delete, params: { list_id: @desired_list.id, book_id: book.api_id },
                                                                      class: "btn btn-primary",
                                                                      id: "list-remove-btn" %>
    </div>


  </div>
</li>
