<% provide(:title, "Home") %>
<%= @user.email %>


<div class="container">
  <div class="row">

    <div class="col-lg-8 col-lg-offset-2">

      <%= form_for(:books, url: home_path) do |f| %>

        <%= f.label :search %>
        <%= f.text_field :q, class: "form-control"%>

        <%= f.submit "Search", class:"btn btn-primary"%>
      <% end %>

      <ul class="list-group">
        <% if @list_of_books != nil%>
          <%= render partial: 'book', collection: @list_of_books, locals: {search: true} %>
        <% end %>
      </ul>


    </div>

  </div>
</div>
