<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">notSoGoodreads</a>
    </div>
    <% if logged_in? %>
      <u1 class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li><%= link_to 'Favorites', books_path(:list_id=>"1")%></li>
        <li><%= link_to 'Read', books_path(:list_id=>"3")%></li>
        <li><%= link_to 'Reading', books_path(:list_id=>"4")%></li>
        <li><%= link_to 'To-Read', books_path(:list_id=>"2")%></li>
      </u1>

      <%= link_to "Sign out!", logout_path, method: :delete, class: "btn btn-lg btn-primary navbar-right", id: "logout-btn"%>
    <% end %>
  </div>
</nav>
